.Listasdiv {
  display: flex;
  flex-direction: row;
  background-color: #F0F3F5;
}

.contenidoListas {
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  */
/* FORMULARIO */
/*  */
#contenedorformulario {
  display: flex;
  flex-direction: row;
  /* margin-top: 30px; */
  align-items: flex-end;

}

#divpresupuestos {
  display: flex;
  flex-direction: row;

}

#divpresupuestostop {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#contenedorpresupuestos {
  display: flex;

}

#divs-errores {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#inputformlista {
  display: flex;
  flex-direction: column;
  position: relative;
}


#input {
  padding-left: 4rem;
  margin: 10px;
  height: 45px;
  width: 200px;
  font-size: 20px;
  border: none;
  border-radius: 18px;
  color: black;
  font-family: "Jost", sans-serif;
  background-color: #D9E1E7;
}

#icon {
  position: absolute;
  display: block;
  bottom: 1.3rem;
  left: 2rem;
  user-select: none;
}


#botonItinerarios {
  padding: 5px 20px;
  /* Ajusta el padding para el tamaño del botón */
  border: none;
  /* Sin borde */
  border-radius: 40px;
  /* Añade bordes redondeados */
  font-size: 25px;
  margin-right: 30px;
  background-color: #46AF12;
  /* Color de fondo */
  color: white;
  /* Color del texto */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#botonmapa {
  padding: 5px 20px;
  /* Ajusta el padding para el tamaño del botón */
  border: none;
  /* Sin borde */
  border-radius: 40px;
  /* Añade bordes redondeados */
  font-size: 25px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 50px;
  background-color: #EDF5DC;
  /* Color de fondo */
  font-weight: 600;
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*  */
/* FIN FORMULARIO */
/*  */






.filtros_y_itinerarios-listas {
  display: flex;
  align-items: flex-start;
  width: 90%;
}

.filtros_container-listas {
  flex: 1;
  margin-left: 70px;
  /* margin-top: 30px; */
}

.orden_select-listas {
  background-color: #D9E1E7;
  border: none;
  height: 50px;
  width: 200px;
  padding-left: 10px;
  border-radius: 18px;
}

.etiquetas-listas {
  margin-top: 30px;
  width: 100px;

}

/*ITINERARIOS*/
.itinerarios-container-listas {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 3;

}


#itinerario-card-complete-listas {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itinerario-card-listas {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 16px;
  height: 180px;

}

.itinerario-imagen-listas {
  height: 100%;
  width: 260px; 
  border-radius: 8px;

}

 
.itinerario-info-listas {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.itinerario-titulo-listas {
  font-size: 35px;
  color: #333;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.itinerario-precio-listas {
  color: #46AF12;
  font-size: 24px;
  font-weight: bold;
}

.itinerario-autor-listas {
  font-style: italic;
  color: #777;
}

#iti-dias-precio-listas, #iti-personas-listas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0 20px;
  font-size: 24px;
}