.Listasdiv{
    display: flex;
    flex-direction: row;
}

.publicidad1{
    width: 196px;
    height: 1008px;
    flex: 1;

}

.publicidad2{
    width: 196px;
    height: 1008px;
    flex: 1;
    
}

.contenidoListas{
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red 3px dashed;
}