.MisItinerariosdiv {
  display: flex;
  flex-direction: row;
  background-color: #F0F3F5;

}

.contenidoMisItinerarios {
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtros_y_itinerarios-mis {
  display: flex;
  align-items: flex-start;
  width: 90%;
}

.filtros_container-mis {
  flex: 0.5;
  margin-left: 70px;
  margin-right: 50px;
}

.orden_select-mis {
  background-color: #D9E1E7;
  border: none;
  height: 50px;
  width: 200px;
  padding-left: 10px;
  border-radius: 18px;
}

.etiquetas-mis {
  margin-top: 30px;
  width: 100px;
}

.itinerarios-container-mis {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 3;

}

.itinerario-card-mis {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 16px;
  max-width: 800px;
  height: 180px;

}

.itinerario-info-mis {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.itinerario-titulo-mis {
  font-size: 35px;
  color: #333;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

#iti-dias-precio-mis,
#iti-personas-mis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 24px;
}

.itinerario-imagen-mis {
  height: 100%;
  width: 260px; 
  border-radius: 8px;
}

.itinerario-precio-mis {
  color: #46AF12;
  font-weight: bold;
}



#botonItinerarios {
  margin: 56px;
}

.acciones-mis{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  align-items: flex-end;
  margin-bottom: 20px;
}

.acciones-1-mis{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.acciones-2-mis{
  display: flex;
  margin-left: 50px;
  align-items: flex-end;
}