@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


.Predecirdiv{
    display: flex;
    flex-direction: row;
}

.publicidad1{
    width: 196px;
    height: 1008px;
    flex: 1;

}

.publicidad2{
    width: 196px;
    height: 1008px;
    flex: 1;
    
}


.textospubli{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.textospubli h1{
    font-size: 90px;
    font-family: "Jost", sans-serif;
}

.textospubli h3{
    font-size: 25px;
    font-family: "Jost", sans-serif;
}


.contenidopubli{
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red 3px dashed;
}

.formpublidiv{
    display: flex;
    flex-direction: row;
}
#formpubli{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iconform {
    position: absolute;
    display: block;
    bottom: 1.1rem;
    left: .7rem;
    user-select: none;
}

#botonpredecir{
    padding: 5px 20px; /* Ajusta el padding para el tamaño del botón */
    border: none;
    border-radius: 40px; /* Añade bordes redondeados */
    font-size: 36px;
    background-color: #46AF12; /* Color de fondo */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 64px;
    width: 236px;
    margin-bottom: 20px;
}







