@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

#plantilla{
    font-size: 30px;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    text-decoration: underline;
    
}

#subir-text{
    margin-top: 60px;
}

#boton-subir{
    padding: 10px 50px;
    /* Ajusta el padding para el tama침o del bot칩n */
    border: none;
    /* Sin borde */
    border-radius: 40px;
    /* A침ade bordes redondeados */
    font-size: 25px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #46AF12;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el bot칩n */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#map{
    height: 600px;
    width: 800px;
  }